/* -------------------Proyecto creado usando enfoque mobile first------------------- */

/*------------------------------General---------------------------------*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}


/*------------------------------------Grilla-----------------------------------------*/

.grilla {
    display: grid;
    grid-template-areas: "header header"
        "main main"
        "main main"
        "footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/* ---------------------------Font----------------------------- */

@font-face {
    font-family: puppy bellies;
    src: url(../fonts/PuppyBellies.ttf);

}

@font-face {
    font-family: puppy love;
    src: url(../fonts/PuppyLove.otf);
}

@font-face {
    font-family: lemonYellow;
    src: url(../fonts/DK\ Lemon\ Yellow\ Sun.otf);
}

@font-face {
    font-family: alleyGarden;
    src: url(../fonts/aAlleyGarden.otf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

/* ---------------------------------Header------------------------- */

header {
    background-image: linear-gradient(to left, #a997df, #dccfec)
}

.border__header{
    border-bottom: 3px solid black;
}

.logo {
    height: 100px;
    width: 150px;
    padding: 0%;


}

.nav {
    display: inline-block;
}

li a {
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

li a:hover {
    background-color: #fadde1;

}

.form {
    margin-left: 60px;
}


/* ----------------Body------------------------- */

body {
    background-color: #eaf4f4;
}

/* ------------------Main-------------------------- */

main {
    padding: 0;
    margin: 15px;
}

.title {
    font-family: puppy bellies;
    padding: 10px;
    height: 80px;
    width: 300px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;
    border: 2px dashed rgb(167, 24, 180);
    background-color: #efcfe3;
    color: #3e1f47;
}

.container__title{
    max-width: 100%;
    max-height: 100%;
}

.main__text {
    font-family: Roboto-light;
    font-size: 25px;
    height: auto;
    width: auto;
    color: #312244;
     
}

.main__subtitle {
    font-family: puppy love;
    padding: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.main__subtitleconsult {
    font-family: puppy love;
    padding: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.img__cat {
    border-radius: 50%;
    border: 5px solid #393d3f;
    height: 300px;
    width: 300px;
    margin: 10px;
   }

.img__text__index{
   border-bottom: 5px double black; 
}

.video_text__index{
    margin-top: 20px;
    border-bottom: 5px double black;

}
.video__cat {
    height: 300px;
    width: 350px;
    margin: 20px;
    margin-right: 30px;
    border: 5px solid #393d3f;
}


.main__product {
    height: 300px;
    width: 250px;
    padding: 0%;
    margin: 15px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px rgb(161, 154, 154);
    flex-direction: row;
}

.product__bed2 {
    height: 300px;
    width: 350px;
    padding: 0%;
    margin: 15px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px rgb(161, 154, 154);
}

.main__perroresponde {
    height: 300px;
    width: 300px;
    padding: 0%;
    border: 1px solid black;
    margin-bottom: 20px;

}

.main__form {
    display: flex;
    flex-direction: column;
    font-family: lemonYellow;
    font-size: 25px;
    align-items: flex-start;
    margin-left: 20px;
}

.main__form2 {
    font-family: alleyGarden;
    font-size: 20px;
    margin-left: 20px;
}

/* ----------------Footer----------------------- */
footer {
    border: 3px solid #343a40;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
}

.degrade__footer {
    background-image: linear-gradient(to left, #ced4da, #adb5bd);
}

.subtitle__footer {
    font-family: Roboto-medium;
    padding: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-items: center;

}

.iframe__footer {
    align-items: center;
}

.link__ig {
    height: 150px;
    width: 150px;
    padding: 0%;
    justify-content: space-evenly;
}

.link__wp {
    height: 150px;
    width: 150px;
    padding: 0%;
    justify-content: space-evenly;

}

.link__footer {
    justify-content: space-evenly;
    background-color: #03071e;
}

.link {
    text-decoration: none;
    color: #ffcfd2;
    background-color: #03071e;
    margin: 2px;
}

/* 
/*................MEDIAS QUERIES.........................*/

@media screen and (min-width:1024px) {
   #imagen__index{
       display: flex;
       flex-direction: row;
   } 

   #video__index{
       display: flex;
       flex-direction: row;
   }
}