/* -------------------Proyecto creado usando enfoque mobile first------------------- */
header {
  background-image: linear-gradient(to left, #e0aaff, #c77dff); }

.border__header {
  border-bottom: 3px solid black; }
  .border__header .logo {
    height: 100px;
    width: 150px;
    padding: 0%; }
  .border__header .nav {
    display: inline-block; }
    .border__header .nav li a {
      text-transform: uppercase;
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 1px solid black;
      border-top: 1px solid black; }
      .border__header .nav li a:hover {
        background-color: #ff69eb; }

header {
  background-image: linear-gradient(to left, #e0aaff, #c77dff); }

.border__header {
  border-bottom: 3px solid black; }
  .border__header .logo {
    height: 100px;
    width: 150px;
    padding: 0%; }
  .border__header .nav {
    display: inline-block; }
    .border__header .nav li a {
      text-transform: uppercase;
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 1px solid black;
      border-top: 1px solid black; }
      .border__header .nav li a:hover {
        background-color: #ff69eb; }

@font-face {
  font-family: Panipuri;
  src: url(../fonts/Panipuri.otf); }

@font-face {
  font-family: Lovesalmon;
  src: url(../fonts/ILoveSalmon.ttf); }

@font-face {
  font-family: Gracelyne;
  src: url(../fonts/Gracelyne.otf); }

footer {
  margin: 0% auto;
  border: 3px solid #343a40;
  background-image: linear-gradient(to left, #ced4da, #da6fc8); }
  footer .footer__bloque1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .footer__bloque1 .subtitle__footer {
      font-family: Gracelyne;
      padding: 0%;
      margin-top: 10px;
      margin-bottom: 10px; }
    footer .footer__bloque1 .footer__map {
      margin: 0% auto; }
  footer .footer__bloque2 .link__redes {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer__bloque2 .link__redes .link__ig {
      height: 150px;
      width: 150px;
      padding: 0%; }
    footer .footer__bloque2 .link__redes .link__wp {
      height: 150px;
      width: 150px;
      padding: 0%; }
  footer .footer__bloque3 .link__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #03071e; }
    footer .footer__bloque3 .link__footer .link {
      text-decoration: none;
      color: #d834a1;
      background-color: #03071e;
      margin: 4px; }

@font-face {
  font-family: Panipuri;
  src: url(../fonts/Panipuri.otf); }

@font-face {
  font-family: Lovesalmon;
  src: url(../fonts/ILoveSalmon.ttf); }

@font-face {
  font-family: Gracelyne;
  src: url(../fonts/Gracelyne.otf); }

main .container__title {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  background-image: url(../media/backgroundTitle.jpg);
  background-size: 40%;
  background-size: cover;
  margin: 0% auto;
  width: 300px;
  margin-bottom: 15px; }
  main .container__title .title {
    font-family: Panipuri;
    padding: 10px;
    text-align: center;
    color: #3e1f47; }

main .index__bloque1 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .index__bloque1 .container__index {
    border: 10px solid #ac1761;
    max-height: 100%;
    max-width: 50%;
    justify-content: left;
    padding: 10px;
    margin-bottom: 50px; }

main .index__bloque2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .index__bloque2 .container__index {
    border: 10px solid #ac1761;
    max-height: 100%;
    max-width: 50%;
    justify-content: left;
    padding: 10px;
    margin-bottom: 50px; }

main .container__interes {
  border: 10px solid #ac1761;
  max-height: 100%;
  max-width: 50%;
  justify-content: left;
  padding: 10px;
  margin-bottom: 50px;
  max-width: 100%;
  margin: 10px; }

main .container__productos {
  border: 10px solid #ac1761;
  max-height: 100%;
  max-width: 50%;
  justify-content: left;
  padding: 10px;
  margin-bottom: 50px;
  width: 60%;
  justify-content: center;
  margin: 10px; }

main .container__pf {
  border: 10px solid #ac1761;
  max-height: 100%;
  max-width: 50%;
  justify-content: left;
  padding: 10px;
  margin-bottom: 50px;
  width: 60%;
  justify-content: center;
  margin: 10px; }

main .main__text {
  font-family: Lovesalmon;
  color: #5a189a;
  padding: 30px;
  background-color: #aa6889; }

main .main__text__contacto {
  font-family: Lovesalmon;
  color: #5a189a;
  padding: 30px;
  background-color: #aa6889;
  color: #230524;
  padding: 5px;
  background-color: #c7388b;
  border: 2px solid black; }

main .img__redondo {
  border-radius: 50%;
  border: 5px solid #030303;
  margin: 10px; }

main .video__cat {
  margin: 20px;
  border: 5px solid #393d3f; }

main .main__subtitle__interes {
  font-family: Panipuri;
  padding: 0%;
  margin: 5px;
  text-align: center;
  color: #480ca8;
  padding-top: 10px;
  border-bottom: 3px dashed #b91f86;
  border-top: 3px dashed #b91f86; }

main .main__subtitle__productos {
  font-family: Panipuri;
  padding: 0%;
  margin: 5px;
  text-align: center;
  color: #480ca8;
  padding-top: 10px;
  border-bottom: 3px dashed #b91f86;
  border-top: 3px dashed #b91f86;
  margin: 15px;
  padding: 10px;
  margin: 15px;
  height: 100%;
  width: 100%; }

main .main__subtitle__pf {
  font-family: Panipuri;
  padding: 0%;
  margin: 5px;
  text-align: center;
  color: #480ca8;
  padding-top: 10px;
  border-bottom: 3px dashed #b91f86;
  border-top: 3px dashed #b91f86;
  height: 80px;
  width: 500px;
  padding-top: 10px; }

main .main__product {
  height: 300px;
  width: 300px;
  padding: 0%;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #a19a9a;
  justify-content: space-evenly; }

main .bloque__contacto__presentacion {
  font-family: Lovesalmon;
  text-align: center;
  color: #480ca8;
  padding: 20px;
  border: 4px solid #140303;
  max-height: 100%;
  width: 40%;
  margin-bottom: 40px;
  background-image: url(../media/backgroundGala.jpg); }

main .img__galaresponde {
  border: 5px solid #393d3f;
  height: 300px;
  width: 300px;
  margin: 10px;
  justify-content: center;
  box-shadow: 15px 15px 10px #302929; }

main .main__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; }

main .main__text__seleccion {
  font-family: Lovesalmon;
  color: #5a189a;
  padding: 30px;
  background-color: #aa6889;
  color: #230524;
  padding: 5px;
  background-color: #d466d4;
  border: 2px solid black; }

main .main__desplegable {
  font-family: Gracelyne;
  color: navajowhite;
  background-color: #030303; }

main .contenedor__contacto {
  border: 5px solid #0c0408;
  max-height: 100%;
  width: 50%;
  justify-content: center;
  background-image: url(../media/backgroundContacto.jpg);
  background-size: cover; }

main .contacto__final {
  font-family: Gracelyne;
  color: #5a189a; }

main .select__product {
  width: 250px; }

main .input__contacto {
  margin: 15px;
  background-color: #83baf8;
  border-radius: 20%;
  font-family: Gracelyne;
  max-width: 100%;
  max-height: 100%;
  padding: 10px; }

@font-face {
  font-family: Panipuri;
  src: url(../fonts/Panipuri.otf); }

@font-face {
  font-family: Lovesalmon;
  src: url(../fonts/ILoveSalmon.ttf); }

@font-face {
  font-family: Gracelyne;
  src: url(../fonts/Gracelyne.otf); }

footer {
  margin: 0% auto;
  border: 3px solid #343a40;
  background-image: linear-gradient(to left, #ced4da, #da6fc8); }
  footer .footer__bloque1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .footer__bloque1 .subtitle__footer {
      font-family: Gracelyne;
      padding: 0%;
      margin-top: 10px;
      margin-bottom: 10px; }
    footer .footer__bloque1 .footer__map {
      margin: 0% auto; }
  footer .footer__bloque2 .link__redes {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer__bloque2 .link__redes .link__ig {
      height: 150px;
      width: 150px;
      padding: 0%; }
    footer .footer__bloque2 .link__redes .link__wp {
      height: 150px;
      width: 150px;
      padding: 0%; }
  footer .footer__bloque3 .link__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #03071e; }
    footer .footer__bloque3 .link__footer .link {
      text-decoration: none;
      color: #d834a1;
      background-color: #03071e;
      margin: 4px; }

@font-face {
  font-family: Panipuri;
  src: url(../fonts/Panipuri.otf); }

@font-face {
  font-family: Lovesalmon;
  src: url(../fonts/ILoveSalmon.ttf); }

@font-face {
  font-family: Gracelyne;
  src: url(../fonts/Gracelyne.otf); }

/*------------------------------General---------------------------------*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
  object-fit: cover; }

.flex {
  display: flex;
  justify-content: space-evenly; }

.wrap {
  display: flex;
  flex-wrap: wrap; }

/*------------------------------------Grilla-----------------------------------------*/
.grilla {
  display: grid;
  grid-template-areas: "header header" "main main" "main main" "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 1fr);
  column-gap: 15px;
  row-gap: 15px;
  height: 100vh; }

header {
  grid-area: header; }

main {
  grid-area: main;
  flex-wrap: wrap; }

footer {
  grid-area: footer; }

/* ----------------Body------------------------- */
body {
  background-image: url(../media/backgroundBody.jpg); }

/*................MEDIAS QUERIES.........................*/
@media screen and (min-width: 1024px) {
  #imagen__index {
    display: flex;
    flex-direction: row; }
  #video__index {
    display: flex;
    flex-direction: row; }
  #interes__vacunas {
    display: flex;
    flex-direction: row; }
  #interes__pirotecnia {
    display: flex;
    flex-direction: row; }
  #productos__camas {
    display: flex;
    flex-direction: row; }
  #productos__mordillos {
    display: flex;
    flex-direction: row; }
  #productos__rascadores {
    display: flex;
    flex-direction: row; } }
