@import "tipografia";
@import "variables";
@import "mixins";
@import "breakpoints";

// se me desborda todo

footer {
    @include column;
    border: 3px solid #343a40;
    background-image: url(../media/backgroundfooter.jpg);
    background-size: cover;

    display: grid;
    grid-template-areas: "bloque1 bloque2 bloque3"
        "bloque1 bloque2 bloque3"
        "bloque4 bloque4 bloque4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    column-gap: 5px;
    row-gap: 5px;
    margin: 20px;
    width: 100%;
    height: 100%;

    section.footer__bloque1 {
        grid-area: bloque1;
    }

    section.footer__bloque2 {
        grid-area: bloque2;
    }

    section.footer__bloque3 {
        grid-area: bloque3;
    }

    section.footer__bloque4 {
        grid-area: bloque4;
    }

    .footer__bloque1 {
        @include column;


        .subtitle__footer1 {
            @include flex (center, center);
            font-family: Gracelyne;
            padding: 10px;


        }


        .link__redes {
            @include flex (center, center);



            .footer__redes {
                height: 40px;
                width: 40px;
                padding: 0%;
                margin-left: 15px;
                margin-right: 15px;

            }

        }
    }

    .footer__bloque2 {
        @include column;


        .subtitle__footer2 {
            @include flex (center, center);
            font-family: Gracelyne;
            padding: 10px;

        }

        .footer__linkredes {
            height: 50px;
            width: 40px;
            padding: 0%;
            margin-top: 20px;


        }
    }

    .footer__bloque3 {
        @include column;

        .footer__logo {
            @include flex (center,center);
            height: 100px;
            width: 150px;
        }
    }

    .footer__bloque4 {

        .link__footer {
            @include flex (space-evenly, center);
            background-color: #03071e;
            padding: 5px;

            .link {
                text-decoration: none;
                color: #f4edf5;
                background-color: #03071e;
                border-bottom: 1px solid rgb(158, 17, 201);
                padding: 10px;

                &:hover {
                    background-color: #a41bce;
                }
            }
        }
    }
}