@import "mixins";
@import "tipografia";

footer {
    margin: 0% auto;
    border: 3px solid #343a40;
    background-image: linear-gradient(to left, #ced4da, #da6fc8);

    .footer__bloque1 {
        @include column;


        .subtitle__footer {
            font-family: Gracelyne;
            padding: 0%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .footer__map {
            margin: 0% auto;
        }
    }

    .footer__bloque2 {
        .link__redes {
            @include flex (center, center);

            .link__ig {
                height: 150px;
                width: 150px;
                padding: 0%;
            }

            .link__wp {
                height: 150px;
                width: 150px;
                padding: 0%;
            }
        }
    }

    .footer__bloque3 {
    
        .link__footer {
            @include flex (space-evenly,center);
            background-color: #03071e;

            .link {
                text-decoration: none;
                color: #d834a1;
                background-color: #03071e;
                margin: 4px;
            }
        }
    }
}