@import "header";
@import "footer";
@import "tipografia";
@import "variables";
@import "mixins";

main {
    .container__title {
        display: flex;
        justify-content: center;
        border: 3px solid black;
        background-image: url(../media/backgroundTitle.jpg);
        background-size: 40%;
        background-size: cover;
        margin: 0% auto;
        width: 300px;
        margin-bottom: 15px;


        .title {
            font-family: Panipuri;
            padding: 10px;
            text-align: center;
            color: $color__titulo;
        }
    }

    .index__bloque1 {
        @include column;

        .container__index {
            @include contenedor
        }
    }

    .index__bloque2 {
        @include column;
        
        .container__index {
            @include contenedor
        }
    }

    .container__interes {
        @include contenedor;
        max-width: 100%;
        margin: 10px;
    }

    .container__productos {
        @include contenedor;
        width: 60%;
        justify-content: center;
        margin: 10px;
    }

    .container__pf {
        @include contenedor;
        width: 60%;
        justify-content: center;
        margin: 10px;

    }

    .main__text {
        @include texto;
    }

    .main__text__contacto {
        @include texto;
        color: rgb(35, 5, 36);
        padding: 5px;
        background-color: #c7388b;
        border: 2px solid black;
    }

    .img__redondo {
        border-radius: 50%;
        border: 5px solid #030303;
        margin: 10px;
    }


    .video__cat {
        margin: 20px;
        border: 5px solid #393d3f;
    }


    .main__subtitle__interes {
        @include subtitulo;
    }

    .main__subtitle__productos {
        @include subtitulo;
        margin: 15px;
        padding: 10px;
        margin: 15px;
        height: 100%;
        width: 100%;

    }

    .main__subtitle__pf {
        @include subtitulo;
        height: 80px;
        width: 500px;
        padding-top: 10px;
    }


    .main__product {
        height: 300px;
        width: 300px;
        padding: 0%;
        margin: 10px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px rgb(161, 154, 154);
        justify-content: space-evenly;
    }


    .bloque__contacto__presentacion {
        font-family: Lovesalmon;
        text-align: center;
        color: $color__subtitulo;
        padding: 20px;
        border: 4px solid rgb(20, 3, 3);
        max-height: 100%;
        width: 40%;
        margin-bottom: 40px;
        background-image: url(../media/backgroundGala.jpg);
    }


    .img__galaresponde {
        border: 5px solid #393d3f;
        height: 300px;
        width: 300px;
        margin: 10px;
        justify-content: center;
        box-shadow: 15px 15px 10px rgb(48, 41, 41);
    }

    .main__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .main__text__seleccion {
        @include texto;
        color: rgb(35, 5, 36);
        padding: 5px;
        background-color: #d466d4;
        border: 2px solid black;
    }

    .main__desplegable {
        font-family: Gracelyne;
        color: navajowhite;
        background-color: #030303;
    }

    .contenedor__contacto {
        border: 5px solid rgb(12, 4, 8);
        max-height: 100%;
        width: 50%;
        justify-content: center;
        background-image: url(../media/backgroundContacto.jpg);
        background-size: cover;

    }

    .contacto__final {
        font-family: Gracelyne;
        color: $color__texto;
    }

    .select__product {
        width: 250px;
    }


    .input__contacto {
        margin: 15px;
        background-color: #83baf8;
        border-radius: 20%;
        font-family: Gracelyne;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
    }
}