@import "tipografia";
@import "variables";
@import "mixins";
@import "breakpoints";



main {
    .container__title {
        display: flex;
        justify-content: center;
        border: 3px solid black;
        background-image: url(../media/backgroundTitle.jpg);
        background-size: 40%;
        background-size: cover;
        margin: 0% auto;
        width: 300px;
        margin-bottom: 15px;


        .title {
            font-family: Panipuri;
            padding: 10px;
            text-align: center;
            color: $color__titulo;
        }
    }

    .index__bloque1 {
        @include column;

        .container__index {
            @include contenedor
        }
    }

    .index__bloque2 {
        @include column;

        .container__index {
            @include contenedor
        }
    }

    .interes__bloque {
        @include column;

        .main__subtitle__interes {
            @include subtitulo;
        }

        .img__redondo {
            @include flex (center, center);
            border-radius: 50%;
            border: 5px solid #030303;
            margin: 0% auto;
        }

        .container__interes {
            @include contenedor;
            max-width: 100%;
            margin: 10px;
        }
    }

    .productos__bloque {
        @include column;

        .main__subtitle__productos {
            @include subtitulo;
            margin: 15px;
            padding: 10px;
            margin: 15px;
            height: 100%;
            width: 100%;
        }

        .container__productos {
            @include contenedor;
            width: 60%;
            margin: 10px;

            .main__text {
                @include texto;
            }
        }

        .main__product {
            height: 300px;
            width: 300px;
            margin: 10px;
            border: 2px solid black;
            box-shadow: 10px 10px 5px rgb(161, 154, 154);
        }
    }

    .pf__bloque {
        @include column;

        .main__subtitle__pf {
            @include subtitulo;
            height: 80px;
            width: 500px;
            padding-top: 10px;
        }

        .container__pf {
            @include contenedor;
            width: 60%;
            justify-content: center;
            margin: 10px;

            .main__text {
                @include texto;
            }
        }
    }

    .contacto__bloque {
        @include column;

        .contacto__bloque__presentacion {
            @include column;
            font-family: Lovesalmon;
            color: $color__subtitulo;
            padding: 20px;
            border: 4px solid rgb(20, 3, 3);
            background-image: url(../media/backgroundGala.jpg);
            width: 30%;
            height: 40%;
            margin: 20px;

            .main__subtitle {
                @include subtitulo;
            }
        }

        .contenedor__contacto {
            @include column;
            border: 5px solid rgb(12, 4, 8);
            background-image: url(../media/backgroundContacto.jpg);
            background-size: cover;
            margin: 0% auto;

            .main__form {
                margin-left: 20px;
            }

            .main__text__contacto {
                @include texto;
                color: rgb(35, 5, 36);
                padding: 5px;
                background-color: #c7388b;
                border: 2px solid black;
            }

            .select__product {
                width: 250px;
            }

            .main__desplegable {
                font-family: Gracelyne;
                color: navajowhite;
                background-color: #030303;
            }

            .contacto__final {
                font-family: Gracelyne;
                color: $color__texto;
            }

            .input__contacto {
                margin: 15px;
                background-color: #83baf8;
                border-radius: 20%;
                font-family: Gracelyne;
                padding: 10px;
            }

        }
    }
}