@mixin contenedor {
    border: 10px solid rgb(106, 0, 116);
    max-height: 100%;
    max-width: 50%;
    justify-content: left;
    padding: 10px;
    margin-bottom: 50px;
}

@mixin subtitulo {
    font-family: Panipuri;
    padding: 0%;
    margin: 5px;
    text-align: center;
    color: $color__subtitulo;
    padding-top: 10px;
    border-bottom: 3px dashed rgb(77, 5, 87);
    border-top: 3px dashed rgb(77, 5, 87);
    
}

@mixin texto {
    font-family: Mank;
    color: rgb(235, 231, 231);
    padding: 10px;
    background-image: linear-gradient(to left, rgb(31, 2, 34), rgb(195, 17, 240));
    background-size: cover;
    border: 2px solid rgba(19, 1, 20, 0.842);
    margin: 5px;
}

@mixin flex ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;

}