
@font-face{
    font-family: Panipuri;
    src: url(../fonts/Panipuri.otf);
}

@font-face{
    font-family: Lovesalmon;
    src: url(../fonts/ILoveSalmon.ttf);
}

@font-face{
    font-family: Gracelyne;
    src: url(../fonts/Gracelyne.otf)
}

@font-face{
    font-family: Mank;
    src: url(../fonts/MankSans-Medium.ttf);
}