
@font-face {
    font-family: puppy bellies;
    src: url(../fonts/PuppyBellies.ttf);

}

@font-face {
    font-family: puppy love;
    src: url(../fonts/PuppyLove.otf);
}

@font-face {
    font-family: alleyGarden;
    src: url(../fonts/aAlleyGarden.otf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-bold;
    src: url(../fonts/Roboto-BoldCondensedItalic.ttf);
}